#editCardModal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
            .modal-header
                h5.modal-title Edit Card
                span.k-card-modal-close-btn(type='button' data-dismiss='modal' aria-label='Close')
                    span &times;

            .modal-body
                .form-group
                    label Title
                    input.k-card-title.form-control.form-control-sm(type='text')
                    input.k-card-laneId.form-control.form-control-sm(type='hidden')
                    input.k-card-id.form-control.form-control-sm(type='hidden')

                .form-group.mt-2
                    label Description
                    textarea.k-card-description.form-control.form-control-sm(type='text' rows='4')

            .modal-footer
                button.btn.btn-secondary.k-card-modal-close-btn(type='button' data-dismiss='modal') Close
                button.btn.btn-success.k-card-edit-btn(type='button') Save

.k-card.k-lane-body