.container.mt-4 
    .row.border-bottom.pb-3
        .d-flex.flex-row.justify-content-between.align-items-end
            div
                h3 Kanban Dashboard
                span.text-secondary Edit or modify all card as you want

            button.btn.btn-sm
                i.fa-solid.fa-plus.m-2
                span Add

    #lane-section