form.col-6
    h5 Create Lane
    .form-group.mb-3
        label(for='title') Name
        input.lane-title.form-control(type='text', placeholder='e.g Todo')

    button.btn-lane-save.btn.btn-success(type='submit') Create