.k-card {
  &-body {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &-modal {
    display: block !important;
    opacity: 1 !important;
  }

  &_show{
    display: block;
  }

  &_hide{
    display: none;
  }
}

.card-btns {
  & > span {
    cursor: pointer;
  }
}

.k-lane {
  &-modal {
    display: block !important;
    opacity: 1 !important;
  }

  &-body {
    height: 80vh;
    margin-top: 10px;
    overflow-y: auto;
  }
}
