.k-card {
    &-body {
        flex-grow: 0;
        flex-shrink: 0;
    }

    &-modal {
      display: block !important;
      opacity: 1 !important;
    }
}

.k-lane-modal {
  display: block !important;
  opacity: 1 !important;
}

.k-lane-body {
    height: 80vh;
    margin-top: 10px;
    overflow-y: auto;
}