.col-3
    .card.bg-light.border-light
        .card-header
            .d-flex.justify-content-between.align-items-center.p-1
                h5 #{title}
                span 
                    i.fa.solid.fa-ellipsis

        .card-body.bg-white.mx-3.mt-3.mb-2.rounded
            h5.card-title Light card title
            p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.