#addCardModal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
            .modal-header
                h5.modal-title Add Card
                span.k-card-modal-close-btn(type='button' data-dismiss='modal' aria-label='Close')
                    span &times;

            .modal-body
                .form-group
                    label Title
                    input.k-card-title.form-control.form-control-sm(type='text')
                    input.k-card-laneId.form-control.form-control-sm(type='hidden' value=`${id}`)

                .form-group.mt-2
                    label Description
                    textarea.k-card-description.form-control.form-control-sm(type='text' rows='4')

                span.text-danger.card-error-msg
            .modal-footer
                button.btn.btn-secondary.k-card-modal-close-btn(type='button' data-dismiss='modal') Close
                button.btn.btn-success.k-card-save-btn(type='button') Save

.card.bg-light.border-light.mb-2
    .card-header
        .d-flex.justify-content-between.align-items-center.p-1
            h5 #{title}

            .flex
                span.p-1.text-warning.lane-edit-btn
                    i.fa-regular.fa-pen-to-square
                span.p-1.text-danger.lane-delete-btn
                    i.fa-solid.fa-trash-can
    .d-grid
        button.btn.btn-outline-secondary.mx-3.mt-3.border.k-add-card-btn
            i.fa-solid.fa-plus

    #k-card-list